<%-include("header")%>
<h1>Compose a latter</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="">your input</label>
        <input type="text" class="form-control" name="confession" id="">
    </div>
    <label for="">your confession</label>
    <textarea name="postArea" id="" cols="150" rows="5"></textarea>
    <button class="btn btn-primary" type="submit">Publish</button>
</form>
<%-include("footer")%>